#########################################################################
#                                                                       #
# vimarsha, Performance analysis: Machine Learning Approach             #
# Copyright (C) 2013 vimarsha                                           #
#                                                                       #
# This program is free software: you can redistribute it and/or modify  #
# it under the terms of the GNU General Public License as published by  #
# the Free Software Foundation, either version 3 of the License, or     #
# (at your option) any later version.                                   #
#                                                                       #
# This program is distributed in the hope that it will be useful,       #
# but WITHOUT ANY WARRANTY; without even the implied warranty of        #
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the          #
# GNU General Public License for more details.                          #
#                                                                       #
# You should have received a copy of the GNU General Public License     #
# along with this program. If not, see <http://www.gnu.org/licenses/>.  #
#                                                                       #
#########################################################################

# This file includes default event configurations for processor architectires

default_events["INTEL_NEHALEM"]="r00c0,r0149,r0151,r02a2,r0126,r0227,r0224,r08a2,r01b0,r20f0,r02f1,r01f2,r01b8,r02b8,r04b8,r40cb"

default_events["POWER7"]="r2,r3c046,r2c048,r2f080,r26080,r30881,r26182,r26880,rd0a2,rd0a0"
